@import 'bootstrap/scss/bootstrap.scss';

.main-banner{
  max-height: 378px;
  min-height: 378px;
  &:before{
    content: '';
    inset: 0;
    z-index: 2;
    opacity: 0.6;
    position: absolute;
    background-color: $dark;
  }
  img{
    object-fit: cover;
  }
  h2{
    font-size: 32px;
  }
  p{
    font-size: 18px;
  }
}

@include media-breakpoint-down(sm) { 
.main-banner{
  max-height: 378px;
  min-height: 378px;    
  h2{
      font-size: 26px!important;
    }
    p{
      font-size: 16px;
    }
  }
}